*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style-type: none;
}
body{
    background-color: black;
    height: 100vh;
}
#title{
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-flow: column wrap;
    align-content:center; 
    justify-content: center;
    max-width: 100vw;
    height: 65vh;
    
}
.FormUl{
    display: flex;
    flex-flow: column wrap;
    align-content:center; 
    padding: 50px;
    max-width: 100vw;
    background-color: rgb(27, 26, 26);
    -moz-box-shadow: 0px 1px 5px 0px #ddff00;
    -webkit-box-shadow: 0px 1px 5px 0px #ddff00;
    box-shadow: 0px 1px 5px 0px #ddff00;
}
.containerForm{
    margin-bottom: 30px;
}
.containerLista{
    max-width: 550px;
    background-color: rgb(53, 50, 50);
    padding: 15px;
    -moz-box-shadow: 0px 1px 5px 0px #303030;
    -webkit-box-shadow: 0px 1px 5px 0px #303030;
    box-shadow: 0px 1px 5px 0px #303030;
}
.TextoClaro{
    color: white;
    font-weight: 600;
}
.InputButton{

    padding: 10px;
    color: black;
    text-align: center;
    box-sizing: content-box;
    width: auto;
    margin: auto;
}
#InputCep{
    width: 300px;
}
#Submit{
    color: black;
    margin-left: 0px;
    width: 100px
}
li{
    margin-bottom: 10px;
}
